<div class="upcoming-event">
  <div class="card">
    <div class="header">
      <h4>
        <i data-feather="calendar" width="26" height="26" bg-color="#000"></i>
        UPCOMING EVENTS
      </h4>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <div>
          <img class="avatar-image" src="{{ avatar }}" />
        </div>
        <div>
          <h6>
            Race and Ethnicity in Higher Education 2020 Release Event
            <div class="event-time">December 30, 2020 at 9:00 am</div>
          </h6>
        </div>
      </div>
      <div class="post-desc">
        <a href="#">
          <i data-feather="map-pin" width="14" height="14" bg-color="#000"></i>
          https://zoom.us/j/99686041428?p wd=MENNVXZKeWk5dUZKTFBBMm9U
          SHRvdz09#success</a
        >
      </div>
    </div>
    <div>
      <app-button-link [buttonConfig]="viewAllConfig"></app-button-link>
    </div>
  </div>
</div>
