<div class="group-post">
  <div class="card">
    <div class="header">
      <h4>
        <i data-feather="users" width="26" height="26" bg-color="#000"></i>
        LATEST GROUP POSTS
      </h4>
    </div>
    <div class="content">
      <div class="post-title">
        <h6>
          <img class="avatar-image" src="{{ avatar }}" />US vs RACISM
          <span class="posted-time"
            ><div class="grey-dot"></div>
            30 Mins ago</span
          >
        </h6>
      </div>
      <div class="post-desc">
        <p>How I Endured British Racists and Survived to Tell the Tale.</p>
      </div>
      <div class="post-image">
        <img src="{{ postImg }}" alt="racism" />
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <h6>
          <img class="avatar-image" src="{{ avatar }}" />US vs RACISM
          <span class="posted-time"
            ><div class="grey-dot"></div>
            30 Mins ago</span
          >
        </h6>
      </div>
      <div class="post-desc">
        <p>How I Endured British Racists and Survived to Tell the Tale.</p>
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <h6>
          <img class="avatar-image" src="{{ avatar }}" />US vs RACISM
          <span class="posted-time"
            ><div class="grey-dot"></div>
            30 Mins ago</span
          >
        </h6>
      </div>
      <div class="post-desc">
        <p>How I Endured British Racists and Survived to Tell the Tale.</p>
      </div>
      <div class="post-image">
        <img src="{{ postImg }}" alt="racism" />
      </div>
    </div>
    <div class="content">
      <div class="post-title">
        <h6>
          <img class="avatar-image" src="{{ avatar }}" />US vs RACISM
          <span class="posted-time"
            ><div class="grey-dot"></div>
            30 Mins ago</span
          >
        </h6>
      </div>
      <div class="post-desc">
        <p>How I Endured British Racists and Survived to Tell the Tale.</p>
      </div>
    </div>
    <div>
      <app-button-link [buttonConfig]="viewAllConfig"></app-button-link>
    </div>
  </div>
  <!-- </div> -->
</div>
