@import "../../../assets/styles/color";
@import "../../../assets/styles/variables";

.banner-container {
  height: 250px;
  width: 100%;
  position: relative;
  border: 1px solid $gray;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  span {
    @include fontProperty($n-black, 28px, 32px);
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 33px;
  }
}
