@import "../../../../assets/styles/color";
@import "../../../../assets/styles/font";
.group-modal {
  .modal-body {
    padding: 0;
    .modal-img {
      padding-right: 0;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .form-div {
      padding-left: 0;
      .content {
        padding: 20% 10%;
        height: 100%;
        .header {
          h4 {
            font-size: 22px;
            line-height: 37px;
            font-family: "National-Semibold";
            text-transform: uppercase;
            color: $black;
            svg {
              margin-right: 5px;
              background-color: $black;
              color: $white;
              padding: 5px;
              border-radius: 50%;
              margin-bottom: 5px;
            }
          }
        }
        form {
          .form-group {
            position: relative;
            margin-bottom: 20px;
            label {
              color: $dark-gray;
              font-size: 14px;
              line-height: 16px;
              font-family: "National-Regular";
              margin-bottom: 4px;
            }
            input {
              width: 100%;
              border-radius: 8px;
              padding: 15px;
              border: 1px solid $gallery;
              font-size: 14px;
              &:focus {
                box-shadow: none;
              }
            }
            input[type="file"] {
              height: 120px;
              position: absolute;
              top: 26px;
              opacity: 0;
            }
            .img-upload {
              text-align: center;
              height: 120px;
              border-radius: 8px;
              padding: 15px;
              border: 1px solid $gallery;
              background-color: $alabaster;
              width: 100%;
              color: $dark-gray;
              font-size: 14px;
              line-height: 37px;
              font-family: "National-Regular";
              svg {
                color: $dark-gray;
              }
            }
            .button-div {
              float: right;
            }
          }
        }
      }
    }
  }
}
.modal-dialog {
  .modal-content {
    border-radius: unset !important;
  }
}
