.btn-link {
  font-family: "National-Medium";
  letter-spacing: 0.48px;
  text-transform: uppercase;
  opacity: 1;
  background-color: transparent;
  color: #000;
  border: unset;
  border-radius: unset;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  &:hover {
    color: #ffcc00;
  }
}
