$black: #000000;
$white: #ffffff;
$supernova: #ffcc00;
$mine-shaft: #2b2b2b;
$dark-gray: #777777;
$light-gray: #CCCCCC;
$gray: #EFEFEF;
$gallery: #EEEEEE;
$dark-gray: #777777;
$alabaster: #FAFAFA;
$alabaster2: #F7F7F7;
$mercury: #E6E6E6;
$mercury2: #00000029;
$mercury3: #E5E5E5;