// Fonts
@font-face {
  font-family: "National-Black";
  src: url("../../assets/fonts/National-Black.otf") format("opentype");
}
@font-face {
  font-family: "National-BlackItalic";
  src: url("../../assets/fonts/National-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Bold";
  src: url("../../assets/fonts/National-Bold.otf") format("opentype");
}
@font-face {
  font-family: "National-BoldItalic";
  src: url("../../assets/fonts/National-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Book";
  src: url("../../assets/fonts/National-Book.otf") format("opentype");
}
@font-face {
  font-family: "National-BookItalic";
  src: url("../../assets/fonts/National-BookItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Extrabold";
  src: url("../../assets/fonts/National-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: "National-ExtraboldItalic";
  src: url("../../assets/fonts/National-ExtraboldItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "National-Light";
  src: url("../../assets/fonts/National-Light.otf") format("opentype");
}
@font-face {
  font-family: "National-LightItalic";
  src: url("../../assets/fonts/National-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Medium";
  src: url("../../assets/fonts/National-Medium.otf") format("opentype");
}
@font-face {
  font-family: "National-MediumItalic";
  src: url("../../assets/fonts/National-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Regular";
  src: url("../../assets/fonts/National-Regular.otf") format("opentype");
}
@font-face {
  font-family: "National-RegularItalic";
  src: url("../../assets/fonts/National-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Semibold";
  src: url("../../assets/fonts/National-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "National-SemiboldItalic";
  src: url("../../assets/fonts/National-SemiboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "National-Thin";
  src: url("../../assets/fonts/National-Thin.otf") format("opentype");
}
@font-face {
  font-family: "National-ThinItalic";
  src: url("../../assets/fonts/National-ThinItalic.otf") format("opentype");
}
